.toolbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid #fafafa;
}
.toolbar > span {
    display: flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0.25rem;
    border-radius: 1rem;
}
.toolbar > span:hover {
    background-color: #e6e6e6;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}