@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700');

//ROOT VARIABLES
:root {
    --mainText: #455A64;
    --subText: #90A4AE;
    --code: #607D8B;
    --border : #ECEFF1;
    --lightBG: #F3F5F7;
    --brand: #03A9F4;
    --brandDark: #039BE5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafcfe;
    font-weight: 300;
    color: var(--mainText);
    line-height: 1.5rem;
}

// GENERAL
button {
    font-family: inherit;
    cursor: pointer;
}
button:focus, button:active, input:focus, input:active {
    outline: none;
}
button:disabled,
button[disabled]{
    background-color: var(--border)!important;
    cursor: default;
}
.pageHeader {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: var(--brand);
    font-size: 1.25rem;
    color: white;
    font-weight: 300;
    justify-content: center;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.1);
    align-items: center;
}
/**
 * MAIN BODY
 */
.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 64rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}
.clList {
    padding: 0.5rem;
    flex: 3;
    overflow: hidden;
}
.clEditor {
    padding: 0.5rem;
    overflow: hidden;
    max-width: 100%;
    flex: 8;
}
/**
 * LIST SECTION
 */
.composeNewButton {
    height: 2.5rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1.25rem;
    background-color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    background-color: var(--brand);
    color: white;
}
.infoText {
    font-size: 0.75rem;
    color: var(--subText);
    text-align: center;
    padding: 1rem;
}
.listContainer {
    background-color: white;
    display: block;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    font-size: 1rem;
}
.singleDoc {
    border-bottom: 1px solid var(--border);
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.singleDocActive {
    border-bottom: 1px solid var(--border);
    padding: 0.75rem 1rem;
    cursor: pointer;
    color: var(--brand);
    background-color: var(--lightBG);
}
.singleDoc:hover {
    background-color: var(--lightBG);
    transition: 0.3s all;
}
.docTitle {
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.docUpdate {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--subText);
    margin-top: 0.25rem;
}
.singleDoc:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

/**
 * SLATE EDITOR SECTION
 */
.slateContainer {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--border);
}
.editor {
    padding-top: 1rem;
    color: var(--mainText);
    min-height: 16rem;
    font-size: 1rem;
}
.titleBar {
    display: flex;
    flex-direction: row;
    paddingBottom: 1rem;
    borderBottom: 1px solid var(--border);
}
.titleBar input {
    min-width: 0;
    flex: 1;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--lightBG);
    justify-content: center;
    padding: 0 0.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    height: 2.5rem;
    color: var(--subText);
    font-weight: 600;
}
.titleBar .actionButtons {
    padding-left: 1rem;
}
.titleBar .actionButtons > button{
    height: 2.5rem;
    width: 5rem;
    /*padding: 0 1.25rem;*/
    background-color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}
.titleBar .actionButtons > button:first-child {
    background-color: var(--brand);
    color: white;
}
.titleBar .actionButtons > button:first-child:hover {
    background-color: var(--brandDark);
    transition: 0.3s all;
}
.titleBar .actionButtons > button:last-child {
    margin-left: 0.25rem;
    border: 1px solid var(--border);
    color: var(--subText);
}
.titleBar .actionButtons > button:last-child:hover {
    background-color: var(--lightBG);
    transition: 0.3s all;
}
.toolbar {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--border);
}
.iconButton {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-right: 0.5rem;
    border-radius: 1rem;
}
.iconButton:hover {
    background-color: var(--lightBG);
    transition: 0.5s ease-in-out;
}

/**
 * TEXT FORMATTING
 */
code {
    color: var(--code);
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    background-color: var(--lightBG);
    line-height: 1.25rem;
    padding: 0.125rem;
    border-radius: 0.25rem;
}
blockquote {
    color: var(--subText);
    font-weight: 300;
    font-style: italic;
    border-left: 2px solid var(--border);
    padding-left: 1rem;
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
}
p   { font-weight: 300; }
em  { font-style: italic; }
strong, h1, h2 {
    font-weight: 600;
}

/**
 *  IMAGE SECTION DESIGN
 */
.imgSection {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    color: var(--subText);
}
.imgSection > span { margin-right: 0.5rem; }
button.imgIconButton {
    background-color: white;
    height: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    margin-right: 0.25rem;
}
.imgContainer {
    display: flex;
    padding: 1rem;
}
img.editorImg {
    margin: 1rem;
    max-height: 20rem;
    max-width: calc(100% - 2rem);
    padding: 0.25rem;
    border-radius: 0.125rem;
    border: 1px solid var(--border);
}
.wordCount {
    padding-top: 1rem;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    color: var(--subText);
    line-height: 1rem;
    margin-top: 1rem;
}
.deleteButton {
    margin-top: 0.5rem;
    background-color: transparent;
    color: #ef9a9a;
    border: none;
    font-size: 0.75rem;
}
.deleteButton:hover {
    color: #f44336;
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 40rem) {
    .wrapper {
        flex-direction: column;
    }
    .clList {
        flex: 1;
    }
    .clEditor {
        flex: 1;
    }
    .toolbar {
        flex-direction: column;
    }
    .imgSection {
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .singleDocActive,
    .singleDoc {
        display: flex;
        flex-direction: row;
    }
    .singleDocActive > .docUpdate,
    .singleDoc > .docUpdate {
        margin-left: auto;
        padding-left: 1rem;
        white-space: nowrap;
    }
}